@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes expand {
    0% {
        font-size: 0px;
    }
    50% {
        font-size: 5em;
    }
    100% {
        font-size: 4em;
    }
}

@keyframes shrink {
    0% {
        font-size: 4em;
    }
    50% {
        font-size: 5em;
    }
    100% {
        font-size: 0px;
    }
}

.game-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 20px;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: white;
}

.game-status-check {
    animation: expand 1s forwards, shrink 1s 1s forwards;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}